<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kgc.test.mapper.CommentMapper">
    <!--新增评论-->
    <insert id="addComment" parameterType="cn.kgc.test.bean.Comment" keyProperty="id" useGeneratedKeys="true">
        insert comment(news_id,content,created_user_id,created_time)
        values(#{newsId},#{content},#{createdUserId},#{createdTime})
    </insert>


    <resultMap id="commentMap" type="Comment">
        <id column="id" property="id"></id>
        <association property="user" column="created_User_Id" javaType="User" select="cn.kgc.test.mapper.UserMapper.selUserById"></association>
    </resultMap>

    <select id="selCommentAndUser" resultMap="commentMap">
        select id,news_id,content,created_time,created_user_id
        from comment where news_id=#{newsId}
        order by created_time desc
    </select>


   <!-- <resultMap id="NewsAndComment" type="cn.kgc.test.bean.Comment">
        <result column="created_time" property="createdTime" jdbcType="DATE"/>
        <result column="content" property="content" jdbcType="VARCHAR"/>
        <collection property="userList" ofType="cn.kgc.test.bean.User">
            &lt;!&ndash;<id column="id" property="id" jdbcType="INT" />&ndash;&gt;
            <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
        </collection>
    </resultMap>

    &lt;!&ndash;查询所有的新闻和评论，（分页）查看评论功能，包括：评论时间、评论人昵称、评论内容，按照时间倒序分页展示&ndash;&gt;
    <select id="selCommentAndUser" resultMap="CommentAndUser" parameterType="java.lang.Integer">
        select c.created_time,nick_name,content
        from comment c,user u
        where c.`created_user_id`=u.`id`
        where news_id=#{newsId}
        order by c.`created_time` desc
    </select>-->
</mapper>