<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kgc.test.mapper.NewsMapper">

    <resultMap id="News" type="cn.kgc.test.bean.News">
        <id property="id" jdbcType="INTEGER" column="id"/>
        <result property="title" jdbcType="VARCHAR" column="title"/>
        <result property="content"  jdbcType="VARCHAR" column="content"/>
        <result property="author" jdbcType="VARCHAR" column="author"/>
        <result property="createdTime" jdbcType="DATE" column="created_time"/>
        <result property="createdUserId" jdbcType="INTEGER" column="created_user_id"/>
    </resultMap>

    <!--根据id查询新闻详情-->
    <select id="selNewById" parameterType="int" resultType="News">
          select title,author,created_time,content from news where id=#{id}
    </select>


    <!--分页查询新闻列表-降序，只包含：id、新闻标题、内容-->
    <select id="selNewsList" resultType="News">
        select * from news order by created_time desc
    </select>
</mapper>