<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.kgc.test.mapper.NewsMapper">

    <resultMap id="LookOneNews" type="cn.kgc.test.bean.News">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="title" jdbcType="VARCHAR" property="title"></result>
        <result column="created_time" jdbcType="DATE" property="createdTime"></result>
        <result column="content" jdbcType="VARCHAR" property="content"></result>
    </resultMap>

    <resultMap id="LookAllNews" type="java.util.HashMap">
        <result column="title" jdbcType="VARCHAR" property="title"></result>
        <result column="created_time" jdbcType="DATE" property="createdTime"></result>
    </resultMap>

    <!--根据id查询新闻详情，内容包括：新闻标题、作者姓名、发布日期及新闻正文-->
    <select id="selNewsById" parameterType="int" resultMap="LookOneNews">
        select title,author,created_time,content from news where id=#{id}
    </select>

    <!--分页查看新闻列表功能，内容包括：新闻标题、发布日期，列表按照创建时间倒序进行排列-->
    <select id="selNewsList" resultMap="LookAllNews">
        select title,created_time from news order by created_time desc
    </select>
</mapper>